/* COLOR PALLETE
#E8E6DC -  Platinum
#242423 - Raisin Black
#84ACCE - Light Cobalt Blue
#FFFFFF - White

*/

/* Setting color variables to use throughout the document */
:root {
    --platinum: #E8E6DC;
    --blue: #84ACCE;
    --white: #FFFFFF;
    --raisin: #242423;
}


/* GLOBAL STYLES*/

html {
    box-sizing: border-box;
    font-size: 16px;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
    margin: 0;
}


a {
    color: var(--white);
    text-decoration: none;
}

a:hover {
    color: var(--blue);
    cursor: pointer;
}


h1 {
    font-size: 3.125rem;
}

h2 {
    font-size: 1.875rem;
    margin-top: 0;
}

h3 {
    margin: 0;
}

.wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 30px;
    overflow: auto;
}

.col-narrow {
    width: 30%;
    float: left;
}

.col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
    min-height: 179px;
}

.job-description a {
    color: black;
}

.job-description a:hover,
.job-description a:active {
    color: var(--blue);
}

.fas.fa-external-link-alt {
    margin-right: 2rem;
}

.uppercase {
    text-transform: uppercase;
}

.btn {
    text-decoration: none;
    background: var(--white);
    color: #242423;
    padding: 10px;
    display: inline-block;
}

/* HEADER AND FOOTER*/

header,
footer {
    background: var(--raisin);
    color: var(--white);
}

/* header */
.logo {
    background: transparent url('../images/logo.svg') no-repeat top center;
    background-size: 30px;
    height: 30px;
    width: 30px;
    padding: 0;
}

.logo:hover,
.logo:active,
.logo:focus {
    background: transparent url('../images/logo_hover.svg') no-repeat top center;
    background-size: 30px;
}

.profileImg {
    border-radius: 50%;
}

.verticalAlign {
    padding-top: 5%;
}

.download {
    position: absolute;
    bottom: 0;
    right: 0;
}

header {
    position: relative;
}

header h1,
header h2 {
    margin: 0;
}

/* footer */
footer {
    text-align: center;
}

.info a {
    padding: 10px;
    display: inline-block;
}

.fa-at {
    font-size: 1.25rem;
}

.fa-linkedin {
    font-size: 1.25rem;
}

/* BODY */

/* Navigation */

nav {
    text-align: center;
    background: var(--white);
    margin: auto;
    display: block;
}



nav a {
    display: inline-block;
    margin: auto;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--raisin);
    vertical-align: middle;
}

nav a:first-child {
    margin: 0px 20px;
}

nav a.active {
    color: var(--blue);
    ;
}

/* WORK EXPERIENCE*/

.work {
    background: var(--platinum);
}

h3~p {
    margin: 0;
}

.job-description {
    margin-bottom: 25px;
}

.job-description p:first-of-type {
    margin-top: 0;
}

/* EDUCATION*/

.education {
    background: linear-gradient(rgba(35, 35, 36, 0.8), rgba(35, 35, 36, 0.5)),
        url(../images/hilthart-pedersen-602164-unsplash.jpg) no-repeat fixed;
    background-size: cover;
    color: var(--white);
}

p+h3 {
    margin-top: 30px;
}

/* STARBUCKS */
figure {
    display: inline;
    margin: 0;
    padding: 0;
}

.col-fifty {
    width: 45%;
    padding: 1rem;
    display: inline-block;
    margin: auto;

}


.col-hundred {
    width: 90%;
    padding: 1rem;
    display: inline-block;
    margin: auto;
}


.wrapStar {
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 30px;
    overflow: auto;
    text-align: center;
}

/* Uni Proj */

/* header {
    background: none;
} */

.titleProject {
    background-color: #E8E6DC;
    color: black;
    padding-bottom: 20px;
}

.titleProject h3 {
    margin-top: 20px;
    font-style: italic;
}

.wrapStar>p {
    text-align: center;
    font-style: italic;
}

.readMore {
    margin-top: 10px;
    padding: 10px 25px;
    background-color: black;
    border-radius: 5px;
    ;
}

.readMore:hover {
    background-color: #562b9d;
    color: var(--white);
}

.back {
    font-size: 1.5rem;
    padding-bottom: 30px;
    text-align: left;
    margin-left: 37px;
    display: table;
    color: #242423;
}


.wrapStar p.detailText {
    text-align: left !important;
    display: block;
}

.detailLink {
    color: var(--white);
    padding: 10px 25px;
    border-radius: 5px;
    margin: 20px 0;
}

.detailLink:hover {
    background-color: #3f2072;
    color: var(--white);

}

.video {
    margin-top: 30px;
}