/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 */


/* COLOR PALLETE
#E8E6DC -  Platinum
#242423 - Raisin Black
#84ACCE - Light Cobalt Blue
#FFFFFF - White

*/
:root{
    --platinum: #E8E6DC;
}

/* iPad 
@media screen and (max-width: 992px) {
    body {
    }
  }

  iPhone 
  @media screen and (max-width: 600px) {
    body {
      
    }
  } 
  
  */

/* GLOBAL STYLES*/

html{
    box-sizing: border-box;
    font-size: 16px;

}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
    margin: 0;
}


a {
    color: white;
    text-decoration: none;
}

a:hover{
    color: #84ACCE;
    cursor: pointer;
}


h1{
    font-size: 3.125rem;
}

h2{
    font-size: 1.875rem;
    margin-top:0;
}

h3{
    margin: 0;
}

.wrap{
    max-width: 950px;   
    margin: 0 auto;
    padding: 60px 30px;
    overflow: auto;
}

.col-narrow{
    width: 30%;
    float: left; 
}

.col-wide{
    width: 70%;
    float: left;
    padding-left: 20px;
    min-height: 179px;    
}

.job-description a{
    color: black;
}

.job-description a:hover,
.job-description a:active {
    color: #84ACCE;
}

.fas.fa-external-link-alt{
    margin-right: 2rem ;
}
.uppercase{
    text-transform: uppercase;
}

.btn{
    text-decoration: none;
    background: white;
    color: #242423; 
    padding: 10px;
    display: inline-block;
}
/* HEADER AND FOOTER*/

header, footer{
    background: #242423;
    color: white;
}

/* header */
.logo{
    background: transparent url('../images/logo.svg') no-repeat top center;
    background-size: 30px;
    height: 30px;
    width: 30px;
    padding:0;
}
.logo:hover,
.logo:active,
.logo:focus{
    background: transparent url('../images/logo_hover.svg') no-repeat top center;
    background-size: 30px;
}

.profileImg{
    border-radius: 50%;   
}

.verticalAlign{
    padding-top:10%;
}

.download{
    position: absolute;
    bottom: 0;
    right: 0;
}

header{
    position: relative;
}

header h1, header h2{
    margin:0;
}

/* footer */
footer{
    text-align: center;
}

.info a{
    padding: 10px;
    display: inline-block;
}
.fa-at{
    font-size: 1.25rem;
}

.fa-linkedin{
    font-size: 1.25rem;
}

/* BODY */

/* Navigation */

nav{
    text-align: center;
    background: white;
    margin: auto;
    display: block;
}



nav a{
    display: inline-block;
    margin: auto;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #242423;
    vertical-align: middle;
}
nav a:first-child{
    margin: 0px 20px;
}

nav a.active{
    color: #84ACCE;
}
/* WORK EXPERIENCE*/

.work{
    background: var(--platinum);
}

h3 ~ p{
    margin: 0;
}

.job-description{
    margin-bottom: 25px;
}
.job-description p:first-of-type{
    margin-top: 0;
}
/* EDUCATION*/

.education{
    background: linear-gradient(rgba(35, 35, 36, 0.8), rgba(35, 35, 36, 0.5)),
    url(../images/hilthart-pedersen-602164-unsplash.jpg) no-repeat fixed;
    background-size: cover;
    color: white;
}

p + h3{
    margin-top:30px;
}

/* STARBUCKS */
figure{
    display: inline;
    margin: 0;
    padding: 0;
}

.col-fifty{
    width:45%;
    padding: 1rem;
    display: inline-block;
    margin:auto;
}

.col-hundred{
    width:90%;
    padding: 1rem;
    display: inline-block;
    margin:auto;
}


.wrapStar{
    max-width: 950px;   
    margin: 0 auto;
    padding: 60px 30px;
    overflow: auto;
    text-align: center;
}